body {
    background-color: cadetblue;
    color:black;
}

.header {
    margin-top: 15px;
    padding-left: 12px;
}

h1 {
    font-size: 48pt;
}

.float-left {
    float: left;
    margin-right: 20px;
}


/* Styling for Portfolio page */

.project-link {
  color: black;  
  background-color: cadetblue;
  position: absolute;
  top: 75%;
  left: 20%;
  padding: 10px;
  border-radius: 20px;
}

.nav-link {
  margin-left: 15px;
}

.img-fluid {
  width: 300px;
  height: 300px;
}

#contact-me-img {
  height: auto;
  width: auto;
}



@media screen and (max-width: 768px) {
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    .main-content {
      width: 100%;
    }

    .img-fluid {
      margin-bottom: 15px;
    }

    h1 {
      font-size: 32pt;
  }
  
  }
  
  /* Additional Screen Sizes */
  
  /* Width at 320px and below */
  @media screen and (max-width: 320px) {
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    .main-content {
      width: 100%;
    }

    .img-fluid {
      margin-bottom: 15px;
    }

    h1 {
      font-size: 32pt;
  }

  }
  
  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    .main-content {
      width: 100%;
    }

    .img-fluid {
      margin-bottom: 15px;
    }

    h1 {
      font-size: 32pt;
  }
  }